# ==========================
# Upload Files
# ==========================
assets/uploads/**/*
!assets/uploads/**/.gitkeep

# ==========================
# Vendor
# ==========================
vendor/

# ==========================
# IDE
# ==========================
.vscode/
.idea/

# ==========================
# Operating System
# ==========================
.DS_Store
Thumbs.db